#block_discription_flavours {
    background-color: #2c3a42;
    padding: 100px 100px;
}

.section_flavours {
    display: flex;
    justify-content: center;
    font-family: "DejavuSansBook";
}

.text_flavours {
    max-width: 600px;
    padding-right: 100px;
}

.flavours {
    font-size: 30px;
    color: #fff;
}

.flavours_1 {
    margin-top: 50px;
    font-size: 15px;
    text-align: justify;
    color: #fff;
}

.logo_flavours {
    width: 530px;
    height: 350px;
    background: #2a3b40 url('../img/flavours.jpg') no-repeat;
    background-size: cover;
}