@media (max-width: 768px) {
    /* header */
    body {
        overflow-x: hidden;
    }
    .section_header {
        font-size: 10px;
    }
    .logo_nav_bar {
        font-family: "RalewayBold";
        color: #d1d4d5;
        padding-right: 10px;
    }
}